body {
	background-color: #ded;
}

#posts {
	display: block;
	margin: auto;
	width: max-content;
}

#posts a {
	text-decoration: none;
	color: #000;
}

#posts a:hover {
	text-decoration: underline;
}

.title {
	margin-bottom: 2em;
}

.title h2 {
	text-align: center;
	text-decoration: underline;
	font-size: 20pt;
	/*line-height: 1pt;*/
	margin-bottom: 5pt;
}

.title h1 {
	text-align: center;
	text-decoration: underline;
	font-size: 35pt;
	margin-bottom: 5pt;
}

.faint {
	color: #888;
}

.content {
	text-align: center;
}