body {
	background-color: var(--background-color);
	color: var(--text-color);
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

p .vspace {
	height: 1em;
	max-height: 1em;
}

#posts {
	display: block;
	margin: auto;
	width: max-content;
}

#posts a {
	color: var(--text-color);
}

.title {
	margin-bottom: 1em;
}

.title h2 {
	text-align: center;
	text-decoration: underline;
	font-size: 20pt;
	margin-bottom: 5pt;
}

.title h1 {
	text-align: center;
	text-decoration: underline;
	font-size: 35pt;
	margin-bottom: 5pt;
}

.faint {
	color: var(--faint);
}

.boxed {
	border-left: solid 5pt var(--boxed-stripe);
	text-align: center;
	background-color: var(--boxed-bg);
	border-radius: 1px;
	padding: 0.3em;
}

.content, #menu, #footer {
	text-align: center;
	max-width: 600px;
	margin: auto;
}

#menu, #footer {
	padding-top: 5pt;
	padding-bottom: 5pt;
	margin-bottom: 5pt;
	background-color: var(--menu-bg);
	border-radius: 12pt;
}

.return {
	color: var(--special-link-color);
}